* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// DiaryEditor
.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 1rem;

  > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input, textarea {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1rem;
  }

  textarea {
    height: 10rem;
  }

  select {
    width: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  button {
    width: 30rem;
    padding: 1rem;
    cursor: pointer;
  }
}

// DiaryList
.DiaryList {
  border: 1px solid gray;
  padding: 1rem;
  margin-top: 1rem;

  > h2 {
    text-align: center;
  }
}

// DiaryItem
.DiaryItem {
  background: rgb(240, 240, 240);
  margin-bottom: 1rem;
  padding: 1rem;

  > .Info {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    > .date {
      color: gray;
    }
  }

  > .content {
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

}